{{#each trips}}
  <div class="row col-sm-12 trips-taken" data-key={{key}}>
    <div>
      <h4>{{name}}</h4>
    </div>
    <div>In {{month}} of {{year}} we went to {{city}}.</div>
    <div>What I thought:
      <p>{{review}}</p>
    </div>
  </div>
{{/each}}
